<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>License Plate Detector</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- Bootstrap -->
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet"> -->
    <nav class="navbar navbar-inverse" style="background-color: black;">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/" style="color: burlywood;">License Plate Detector</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/description">Description</a></li>
        </ul>
      </div>
    </nav>
    <!-- Image and text -->

    <style>
      
    </style>
  </head>
  <body>
    <div class="container">
      <h3>Plate Detection Method</h3>
      <img src="static/images/flowchart.png" style="margin-top: 80px; margin-left: 120px; margin-bottom: 50px">
  
      <p>To Detect Num </p>

      <p>First image is passed to Tensorflow Object Detection Model for number plate detection </p>

      <p>Later detected plate is sent for Segmentation part where text in extracted : Car Image -> Grayscale Image -> Binary Image -> Applying Erosion -> Drawing Bounding Boxes</p>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>
  </body>
</html>